:root {
  font-size: 16px;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  color: #2d2d2d;
  font-size: 1.125rem;
  font-family: "Work Sans", sans-serif;
}

header {
  position: relative;
  padding: 1em 1em 0.5em 1em;
  overflow: hidden;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.top-container {
  background-image: url(images/main-bg.svg);
  background-position: left bottom;
  background-size: cover;
  min-height: 1100px;
  content: "";
}

.mlc {
  text-align: center;
}

.mlc-logo {
  width: 80%;
  height: auto;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0 0 0;
  padding: 0;
  font-size: 1rem;
  letter-spacing: 1px;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
}

.nav-list li {
  flex-basis: 100%;
  /* text-align: center; */
  padding: 0 0 1rem 0;
}

.nav-link {
  color: #3b3b3b;
  text-decoration: none;
}

.weather {
  display: flex;
  justify-content: center;
  margin: 1rem 0 0 0;
  font-size: 2.5rem;
}

.weather-icon {
  width: 5rem;
}

@media (min-width: 456px) {
  header {
    display: grid;
    grid-template-columns:
      minmax(0, 0.28fr)
      300px
      minmax(0, 1fr)
      minmax(200px, 2fr)
      minmax(200px, 0.5fr);
  }

  .mlc {
    align-self: center;
    padding-top: 1rem;
  }

  .mlc-logo {
    width: 344px;
  }

  .nav {
    align-self: center;
  }

  .nav-list {
    flex-wrap: nowrap;
    font-size: 0.875rem;
  }

  .weather {
    font-size: 1.5rem;
  }

  .weather-icon {
    width: 2.5rem;
  }
}

.weather-temp {
  padding-top: 0.7rem;
}

@media (min-width: 456px) {
  .weather {
    margin-top: 0;
  }
}

.season-pass-ad {
  padding: 0 1rem;
}

.season-pass-ad__title {
  margin: 0;
  font-weight: 900;
  font-size: 2rem;
}

@media (min-width: 456px) {
  .season-pass-ad {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(20rem, 50ch) minmax(1em, 10fr);
    margin-top: 9rem;
  }

  .header {
    background-position: left bottom;
  }

  .season-pass-ad__title {
    margin: 0 0 2rem 0;
    font-size: 3rem;
  }

  .season-pass-ad__desc {
    margin-bottom: 3rem;
  }

  .btn-pass {
    margin-right: 1rem;
  }
}

.btn {
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.8rem;
  font-family: inherit;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-primary {
  border: 0px;
  background-color: #cedc72;
  padding: 1em 1.25em;
  color: #000;
}

.btn-primary:hover {
  background-color: #2d2d2d;
  color: #ffffff;
}

.btn-outline {
  outline: 3px solid #cedc72;
  border: 0;
  background-color: transparent;
  padding: 0.77em 1.25em;
}

.btn-outline:hover {
  outline: 3px solid #2d2d2d;
  background-color: #2d2d2d;
  color: #ffffff;
}

.btn-black {
  border: 0;
  background-color: #2d2d2d;
  padding: 0.77em 1.25em;
  color: #ffffff;
}

.btn-black:hover {
  outline: 3px solid #2d2d2d;
  border: 0;
  background-color: transparent;
  color: #2d2d2d;
}

.season-passes {
  padding: 1rem 1rem;
}

.season-passes__title {
  margin: 0;
}

.season-passes__options {
  border: 0;
  background-color: #2d2d2d;
  padding: 0.724rem 0.7rem;
  color: #ffffff;
  font-weight: bold;
  font-size: 0.8rem;
  font-family: inherit;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.season-passes__bottom {
  display: grid;
  grid-template-columns: 0.6fr 1fr;
}

.season-passes__bottom--icon {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}

.season-passes__bottom--selections-button button {
  margin-top: 0.75rem;
}

@media (min-width: 456px) {
  .season-passes {
    display: flex;
    margin-left: 7.5rem;
    max-width: 450px;
  }

  .season-passes__tagline {
    width: 21rem;
  }

  .season-passes__bottom {
    margin-left: 15px;
  }

  .season-passes__bottom--selections-button {
    margin-left: 15px;
  }
}

.dfs-img-container {
  padding: 0 1rem;
}

.dfs-img-container img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 456px) {
  .diamond-falls-section {
    display: flex;
    margin-top: 5rem;
    margin-left: 7.5rem;
  }

  .dfs-img-container img {
    max-width: 382px;
  }

  .diamond-falls-title {
    margin: 0;
  }

  .diamond-falls-desc p {
    max-width: 72ch;
  }
}

.diamond-falls-desc {
  padding: 0 1rem;
}

.resort-hotel-announcement {
  margin-top: 2rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(images/toa-heftiba-2GMervuSEs4-unsplash.jpg);
  background-position: left 50%;
  background-size: cover;
  padding: 4rem 0 1rem 1rem;
  height: 476px;
  color: #ffffff;
}

@media (min-width: 456px) {
  .resort-hotel-announcement {
    margin-top: 5rem;
    padding-top: 10rem;
    text-align: center;
  }

  .resort-hotel-announcement h1 {
    margin: 0;
    font-size: 2.375rem;
  }

  .resort-hotel-announcement p {
    margin-bottom: 1.5rem;
    font-size: 0.82875rem;
  }
}

.questions-box {
  padding: 0 1rem;
}

@media (min-width: 456px) {
  .questions-box {
    margin-top: 5rem;
    margin-bottom: 6rem;
    margin-left: 7.5rem;
  }

  .questions-box h1 {
    margin: 0;
  }

  .questions-box p {
    max-width: 72ch;
  }

  .questions-box a {
    color: #194e9a;
    text-decoration: none;
  }
}

footer {
  background-color: #2d2d2d;
  padding: 0.05rem 1rem 1rem 1rem;
  color: #ffffff;
}

.footer--top {
  display: grid;
  grid-template-columns: minmax(0, 0) repeat(auto-fit, minmax(auto, 1fr));
}

@media (min-width: 456px) {
  .footer--top {
    grid-template-columns:
      minmax(0, 7.5rem)
      repeat(auto-fit, minmax(200px, 1fr));
  }
}

.footer_nav-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-size: 0.875rem;
  letter-spacing: 1px;
  list-style: none;
  text-transform: uppercase;
}

.footer_nav-list li {
  flex-basis: 100%;
  padding: 0 0 0.5rem 0;
}

.footer__link {
  color: #ffffff;
  text-decoration: none;
}

.policy-line {
  font-size: 0.9rem;
  text-align: center;
}

@media (min-width: 456px) {
  .policy-line {
    display: flex;
    margin-bottom: 1.5rem;
    margin-left: 7.5rem;
  }

  .policy-line p {
    margin-right: 3rem;
  }
}

.newsletter-box {
  margin-top: 1rem;
  background-color: #3c3939;
  padding: 1rem;
}

.newsletter-box h1 {
  margin: 0;
  font-size: 1.5rem;
}

.social-media {
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
}

.social-media img {
  width: 25px;
}

.main-logo-bottom {
  fill: #ffffff;
  width: 100%;
  text-align: center;
}

.copyright-notice {
  font-size: 0.9rem;
  text-align: center;
}

@media (min-width: 456px) {
  .logo-copyright {
    display: flex;
    margin-bottom: 1.5rem;
    margin-left: 7.5rem;
  }

  .main-logo-bottom {
    margin-right: 1.5rem;
    width: 344px;
  }
}
